.caja {
  width: 600px;
  height: 150px;
  background-color: blue;
  margin: 5px;
}

h3 {
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#caja2 {
   /* display: none; */
  /* visibility: hidden; */
  opacity: 1;
  }

#caja2:hover {opacity: 0; }

p {
 color: white;
}