body {
    background-color: #BCA9F5;
    font-size: 16px;
}

legend { 
    font-weight: bold;
    color:blue
}

div {
    margin : 1.4em 0;
}

div label {
    width: 20%;
    float: left;
    font-weight: bold;
    text-align: right;      /*Cambiar left-center-right*/
}


input:focus {
    border:2px solid blue;
    background: #F3F3F3;
}

#nombre         { width: 360px; }
#direccion      { width: 500px; }
#colonia        { width: 360px; }
#ciudad         { width: 220px; }
#estado         { width: 220px; }
#direccionCobro { width: 500px; }
#rfc            { width: 160px; }
#curp           { width: 160px; }
#email          { width: 220px; }
#telefono1      { width: 180px; }
#telefono2      { width: 180px; }
#contratante    { width: 360px; }


.button {
/*display: block;*/
    font-size: 1.1em;
    font-weight: bold;
/*text-transform: uppercase;*/
    padding: 5px 20px;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.button:hover {
    background: #74A599;
}
.button:active {
    background: #F6A953;
}
